body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* border: 1px solid; */
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  align-items: center;
}
li {
  text-align: center;
  background-color: #fff;
  border-radius: 6px;
  /* border: 2px solid; */
}
.nav_tabs {
  width: 10vw;
  margin: 20px 30px 10px auto;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 10px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
  padding: 5px;
}
.nav_button {
  border: 2px solid;
  font-weight: 900;
  border-radius: 50%;
  background-color: rgb(22, 22, 22);
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 20px;
  width: 30px;
  height: 30px;
}
.nav-button-disabled {
  background-color: rgb(140, 140, 140);
}
.nav_button:hover {
  background-color: rgb(90, 90, 90);
  cursor: pointer;
}
.nav-button-disabled:hover {
  background-color: rgb(140, 140, 140);
  cursor: default;
}
.sort_tabs {
  width: 50vw;
  margin: 10px 30px 10px auto;
}
.sort_li {
  border: 2px solid;
  border-color: rgb(76, 111, 175);
  padding: 5px 0;
  width: 15vw;
}
.sort_li:hover {
  background-color: rgb(76, 111, 175);
  color: #fff;
  cursor: pointer;
}
.active {
  background-color: rgb(76, 111, 175);
  color: #fff;
}
.container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
.reset {
  display: flex;
  justify-content: flex-end;
  padding: 10px 30px;
}
.willwatch-col {
  text-align: left;
  padding: 20px 0 0 0;
  display: flex;
  flex-flow: column nowrap;
  width: 22vw;
  padding: 20px 15px;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 10px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
}
.willwatch-col-title {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 20px 0;
}
.willwatch-col-item {
  font-size: 14px;
  font-weight: 400;
  margin: 5px 0;
  padding: 10px;
  background-color: rgb(240, 240, 240);
  width: 20vw;
}
.movies-col {
  width: 70vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.card {
  width: 23vw;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  margin: 0 0 1.6vw 0;
  padding: 0 0 10px 0;
}
.card:hover {
  border: 1px solid rgb(226, 226, 226);
  border-radius: 10px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
}
.card-img {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  width: 100%;
}
.card-body {
  width: 100%;
}
.card-title {
  color: #4caf50;
  font-size: 16px;
  text-align: center;
  margin: 20px 0 0 0;
}
.card-container {
  display: flex;
  flex-flow: column nowrap;
}
.card-rating {
  text-align: center;
  font-size: 14px;
  margin: 10px 0 10px 0;
}
.card-buttons {
  align-items: content;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.btn-default {
  transition-duration: 0.2s;
  background-color: white;
  border-style: solid;
  border-radius: 6px;
  text-transform: uppercase;
  padding: 6px 16px;
  margin: 5px 5px;
  width: 15vw;
}
.btn__green {
  border-color: #4caf50;
}
.btn__green:hover {
  background-color: #4caf50;
  color: white;
}
.btn__red {
  border-color: #af4c4c;
}
.btn__red:hover {
  background-color: #af4c4c;
  color: white;
}
.btn-default:hover {
  cursor: pointer;
}
.btn-apply {
  background-color: #4caf50;
  color: white;
}
.btn-apply:hover {
  cursor: pointer;
  color: white;
}
.btn-reset {
  background-color: #fff;
  color: rgb(0, 0, 0);
  width: 20vw;
}
.btn-reset:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(173, 173, 173);
}
